        .cards {
            padding: 4rem;
            background: #f6f8fd;
        }

        h1 {
            
            text-align: center;
        }
        
        .cards__container {
            display: flex;
            flex-flow: column;
            align-items: center;
            max-width: 1120px;
            width: 90%;
            margin: 0 auto;
        }

        .cards__container > h4 {
            justify-content: left;
        }
        
        .cards__wrapper {
            position: relative;
            margin: 50px 0 45px;
        }
        
        .cards__items {
            margin-bottom: 24px;
        }
        
        .cards__item {
            display: flex;
            flex: 1;
            margin: 0 1rem;
            border-radius: 10px;
            
        }
        
        .cards__item__link {
            display: flex;
            flex-flow: column;
            width: 100%;
            box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
            -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
            filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
            border-radius: 10px;
            overflow: hidden;
            text-decoration: none;
        }
        
        .cards__item__pic-wrap {
            position: relative;
            width: 100%;
            padding-top: 67%;
            overflow: hidden;
        }
        
        .fade-img {
            animation-name: fade-img;
            animation-duration: 2s;
        }
        
        .cards__item__pic-wrap::after {
            content: attr(data-category);
            position: absolute;
            bottom: 0;
            margin-left: 10px;
            padding: 6px 8px;
            max-width: calc((100%) - 60px);
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            background-color: #1f98f4;
            box-sizing: border-box;
        }
        
        .cards__item__img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: all 0.2s linear;
        }
        
        .cards__item__img:hover {
            transform: scale(1.1);
        }
        
        .cards__item__info {
            padding: 20px 30px 30px;
        }
        
        .cards__item__text {
            color: #252e48;
            font-size: 18px;
            line-height: 24px;
        }
        
        @media only screen and (min-width: 1200px) {
            .content__blog__container {
            width: 84%;
            }
        }
        
        @media only screen and (min-width: 1024px) {
            .cards__items {
            display: flex;
            }
        }
        
        @media only screen and (max-width: 1024px) {
            .cards__item {
            margin-bottom: 2rem;
            }
        }

        .cards__container > h4 {
            text-align: left;
            width: 100%;
            font-size: 1.25em;
            margin-bottom: 0.5em;
        }

        .cards__container > p {
            text-align: justify;
            width: 100%;
            font-size: 1em;
            line-height: 1.5em;
            margin-bottom: 1em;
        }

        button {
            border: none;
            background-color: #1f98f4;
            color: white;
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-right: 10px; 
            flex: 1; 
            position: rel;
        }


        button:last-child {
            margin-right: 0; 
        }

        button:hover {
            background-color: #0f78a4;
        }

      
        @media only screen and (max-width: 600px) {
            button {
                width: 100%; 
                margin-bottom: 10px; 
            }

            button:last-child {
                margin-bottom: 0; 
            }
        }

       
        * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }

       
        body {
        font-family: "Open Sans", sans-serif;
        background-color: #f6f8fd;
        }

       
        .accordion-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
        }
        
       
        .accordion-container {
            display: flex;
            flex-wrap: wrap; 
        }
        
        .accordion-padding {
            flex-basis: calc(50% - 10px); 
            margin-bottom: 20px; 
        }
        
        .accordion {
            width: 454.4px;
            height: 52px;
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            outline: none;
            transition: background-color 0.6s ease;
        }
        
        .accordion:hover,
        .active {
            background-color: white;
        }
        
        .accordion__title {
            font-weight: 600;
            font-size: 14px;
        }
        
        .accordion__icon {
            margin-left: auto;
            transition: transform 0.6s ease;
        }
        
        .rotate {
            transform: rotate(90deg);
        }
        
        .accordion__content {
            background-color: white;
            overflow: hidden;
            transition: max-height 0.6s ease;
        }
        
        .accordion__text {
            padding: 18px;
            font-weight: 400;
            font-size: 21px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        }
        
        @media only screen and (max-width: 768px) {
            .accordion-padding {
            flex-basis: 100%; 
            margin-bottom: 10px;
            }
        }

        .cards > p {
            font-size: 1.5rem;
            text-align: center;
            margin-top: 1rem;
            color: #1c2237;
        }

        @media only screen and (max-width: 768px) {
            .accordion {
            width: 100%;
            padding: 15px;
            }
        
            .accordion__content {
            overflow: visible;
            }
        }
        
        
        
        
        @media only screen and (max-width: 768px) {
            .accordion {
                width: 100%;
                padding: 15px;
            }
            
            .accordion__content {
                overflow: visible;
                max-height: unset;
            }
            
            .active .accordion__content {
                display: block;
                width: 100%;
            }
            
            .accordion__text {
                font-size: 16px;
            }
        }
        